<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <meta charset="UTF-8">
      <title>Thermodrucker</title>
      <hr>
  </head>
  <body>
    <div class="container">
      <div class="header">
          <h1>Warpzone Thermodrucker</h1>
          <h3 class="text-muted">Zum drucken Bild(er) hochladen :3</h3>
          <h4>Erlaubte Dateitypen: {{Dateitypen}}</h4>
      </div>
      <div>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple=""><br/><br/>
        <input type="submit" value="Upload">
      </form>
      <br/>
      <hr>
      <h3>oder Url angeben</h3>
      <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="url">
      </form>
      <br/>
      <hr>
      <h4><a href="/templates/scratchcard.html">Oder Drucke eine Scratchcard</a></h4>
      <br/>
      <hr>
      <h5>Ps. Wenn jemand ein besseres Design (CSS+html(5)) hat, gerne JanHenrik bescheid geben :)</h5>      </div>
    </div>
  </body>
</html>
 
